.jumbotron {
    background-color: black;
    color: coral;
    text-align: center;
}


textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}